vendor
resta
.idea/
node_modules
.env
src/app/*
package-lock.json
!important src/app/app.resta
src/store/commands/*
!important src/store/commands/index.html
!important tests/index.html
.DS_Store
nbproject

