vendor
resta
.idea/
node_modules
.env
src/app/*
!important src/app/app.resta
package-lock.json
src/store/commands/*
!important src/store/commands/index.html
!important tests/index.html
.DS_Store
nbproject
