vendor
resta
.idea/
composer.lock
node_modules
.env
src/app/*
!important src/app/index.html
package-lock.json
src/store/commands/*
!important src/store/commands/index.html
!important tests/index.html
.DS_Store
nbproject
